<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link href="/public/css/styles.css" rel="stylesheet">
  <meta name="robots" content="noindex,nofollow" />
  <link rel="icon" href="https://www.valtech.fr/favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="https://www.valtech.fr/favicon.ico" type="image/x-icon"/>
</head>

<body class="page-{{active}}">
  <div class="layout">
    <nav>
      <ul>
        <li>
          <a href="/" class="navigation-home{{#ifequal active "home"}} active{{/ifequal}}">
            {{{inline "public/images/home.svg"}}}
            <span>HOME</span>
          </a>
        </li>
        <li>
          <a href="/testcases" class="navigation-testacses{{#ifequal active "testcases"}} active{{/ifequal}}">
            {{{inline "public/images/testcases.svg"}}}
            <span>TEST CASES</span>
          </a>
        </li>
        <li>
          <a href="/results" class="navigation-results{{#ifequal active "results"}} active{{/ifequal}}">
            {{{inline "public/images/results.svg"}}}
            <span>RESULTS</span>
          </a>
        </li>
        <li>
          <a href="/dashboards" class="navigation-dashboards{{#ifequal active "dashboards"}} active{{/ifequal}}">
            {{{inline "public/images/dashboard.svg"}}}
            <span>dashboards</span>
          </a>
        </li>
        <li>
          <a href="/widgets" class="navigation-widgets{{#ifequal active "widgets"}} active{{/ifequal}}">
            {{{inline "public/images/widgets.svg"}}}
            <span>WIDGETS</span>
          </a>
        </li>
        <li>
          <a href="/api/help" class="navigation-api">
            {{{inline "public/images/api.svg"}}}
            <span>API</span>
          </a>
        </li>
      </ul>
      <div class="logo">
        {{!-- {{{inline "public/images/squid.svg"}}} --}}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340.2 73.6"><path d="M32.1 67.9h-14L0 17.6h14.8l10.4 37.1h.2l10.7-37.1h14.2L32.1 67.9zM93.8 58.1c0 6 1.3 7.3 2.9 7.8v2H82.4c-.8-2.4-1-3.1-1.2-6-3 3.1-7.3 7.3-16.3 7.3-7.6 0-15.4-4.3-15.4-14.7 0-9.8 6.3-14.8 14.7-16.1l12-1.8c2.1-.3 4.7-1.1 4.7-4 0-5.6-5.3-5.9-8.7-5.9-6.6 0-7.8 4.1-8.2 7H51.1c1.5-15.4 12.2-17.6 22.6-17.6 7.1 0 20.1 2.2 20.1 14.6v27.4zm-13-14.7c-1.3 1-3.5 1.9-9 2.7-4.9.9-9 2.1-9 7.6 0 4.6 3.6 6.1 6.2 6.1 5.9 0 11.9-3.8 11.9-9.9v-6.5zM116.4 67.9h-13.3V0h13.3v67.9zM142.7 17.6h8.3V27h-8.3v27.3c0 2.9.1 4.1 5.5 4.1.9 0 1.8-.1 2.8-.2v10c-2.1.1-4.2.2-6.3.2H143c-11.5 0-13.6-4.3-13.6-10.9V27h-6.8v-9.5h6.8V4h13.3v13.6zM202.8 53.1c-3.5 12.1-13.6 16.1-22.2 16.1-14.2 0-25.2-6.8-25.2-27.5 0-6.1 2.1-25.4 24.2-25.4 10 0 23.7 4.7 23.7 27.7v2.4h-34.7c.4 3.8 1.1 12.3 11.9 12.3 3.7 0 7.5-1.9 8.5-5.5h13.8zm-13.1-15.4c-.8-8.1-6-10.6-10.3-10.6-6.3 0-9.6 4-10.4 10.6h20.7zM253.6 49.5c-.5 5.2-4.6 19.7-23.1 19.7-19 0-23.4-14.5-23.4-25.1 0-16.3 7.1-27.9 24.2-27.9 8 0 21.1 3.6 22.3 19.3h-13.5c-.6-3.2-2.5-8.1-8.2-8.1h-.7c-8.4 0-10.5 8.3-10.5 14.6 0 5.5.2 16.4 10.3 16.4 6.7 0 9-6.4 9-8.8h13.6zM305.3 67.9H292V37.3c0-3.7-.2-9.9-8.6-9.9-5.9 0-10.4 4-10.4 11.6v28.8h-13.3V0H273v24.1h.2c1.7-4.2 7.4-7.8 14.6-7.8 9.9 0 17.6 5.8 17.6 16.8v34.8zM313.6 58.4h26.6v9.5h-26.6z"/></svg>
      </div>
    </nav>
    <main>
      {{{body}}}
    </main>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="/public/js/chosen.jquery.min.js"></script>
  <script src="/public/js/bundle.js"></script>
</body>
</html>
