<header>
  <small>editing widget</small>
  <h1 class="new-widget-type">{{widget.title}}</h1>
</header>
<div class="content">
  <form method="POST" action="/widgets/update/{{widget.type}}" class="has-action-bar">
    <input type="hidden" name="id" value="{{widget.id}}">

    <div class="form-column-wrapper">
      <fieldset class="form-column">
        <legend>Widget setup</legend>

        <div class="form-field">
          <label for="title">Widget title *</label>
          <input type="text" name="title" id="title" value="{{widget.title}}" placeholder="Garnier: Open JIRA tasks for sprint 7" required />
        </div>
        <div class="form-field">
          <label for="dashboardtitle">Dashboard title *</label>
          <input type="text" name="dashboardtitle" id="dashboardtitle" value="{{widget.dashboardtitle}}" placeholder="Nice title for display on dashboard" required />
        </div>
        <div class="form-field">
          <label for="type">Type (can't be changed at this point)</label>
          <div class="form-select">
            <select name="type" id="type" disabled>
              <option value="jira-tickets" {{#ifequal widget.type "jira-tickets"}}selected{{/ifequal}}>JIRA tickets</option>
              <option value="burndown" {{#ifequal widget.type "burndown"}}selected{{/ifequal}}>JIRA burndown</option>
              <option value="enter-uat" {{#ifequal widget.type "enter-uat"}}selected{{/ifequal}}>UAT entry</option>
              <option value="exit-uat" {{#ifequal widget.type "exit-uat"}}selected{{/ifequal}}>UAT exit</option>
              <option value="kpi-test-result" {{#ifequal widget.type "kpi-test-result"}}selected{{/ifequal}}>KPI test result (pass or fail)</option>
              <option value="blazemeter" {{#ifequal widget.type "blazemeter"}}selected{{/ifequal}}>BlazeMeter result</option>
              <option value="selenium" {{#ifequal widget.type "selenium"}}selected{{/ifequal}}>Selenium result</option>
              <option value="build-status" {{#ifequal widget.type "build-status"}}selected{{/ifequal}}>Build status</option>
            </select>
          </div>
        </div>
        <div class="form-field">
          <label for="description">Short description</label>
          <textarea rows="7" cols="50" name="description" id="description" placeholder="Additional info about the widget">{{widget.description}}</textarea>
        </div>
      </fieldset>
      <fieldset class="form-column">
        <legend>
          {{#ifequal widget.type "jira-tickets"}}JIRA tickets setup{{/ifequal}}
          {{#ifequal widget.type "burndown"}}JIRA burndown setup{{/ifequal}}
          {{#ifequal widget.type "enter-uat"}}UAT entry setup{{/ifequal}}
          {{#ifequal widget.type "exit-uat"}}UAT exit setup{{/ifequal}}
          {{#ifequal widget.type "kpi-test-result"}}KPI test result setup{{/ifequal}}
          {{#ifequal widget.type "blazemeter"}}BlazeMeter result setup{{/ifequal}}
          {{#ifequal widget.type "selenium"}}Selenium result setup{{/ifequal}}
          {{#ifequal widget.type "build-status"}}Build status setup{{/ifequal}}
        </legend>

        {{#if jira}}
          <input type="hidden" name="dataset" value="jira-filter" />
        {{else}}
          <input type="hidden" name="dataset" value="internal-api" />
        {{/if}}

        {{#if jira}}
          <div class="form-field">
            <label for="jiraquery">JIRA filter or query *</label>
            <textarea rows="7" cols="50" name="jiraquery" id="jiraquery" placeholder="Make sure to specifiy the filter so it includes the tickets, assignees and statusses you want to use.&#x0a;&#x0a;project = SCGAR AND issuetype in (Story, Task, Sub-task) AND sprint in openSprints()" required>{{widget.jiraquery}}</textarea>
          </div>
        {{/if}}

        {{#ifequal widget.type "build-status"}}
          <div class="form-field">
            <label for="build_project">Build Project *</label>
            <input type="text" name="build_project" id="build_project" value="{{widget.build_project}}" placeholder="Build project (e.g. f-garnier)" required />
          </div>
          <div class="form-field">
            <label for="build_job">Build Job *</label>
            <input type="text" name="build_job" id="build_job" value="{{widget.build_job}}" placeholder="Build job (e.g. MASTER-KERASTASE-RELEASE-RELEASE-BUILD)" required />
          </div>
        {{/ifequal}}

        {{#ifequal widget.type "selenium"}}
          <div class="form-field">
            <label for="selenium_project">Selenium Project *</label>
            <input type="text" name="selenium_project" id="selenium_project" value="{{widget.selenium_project}}" placeholder="Selenium project (e.g. f-garnier)" required />
          </div>
          <div class="form-field">
            <label for="selenium_job">Selenium Job *</label>
            <input type="text" name="selenium_job" id="selenium_job" value="{{widget.selenium_job}}" placeholder="Selenium job (e.g. GARNIER-Tests-Selenium-UI-Pipelines-Chrome)" required />
          </div>
          <div class="form-field">
            <label for="charttype">Chart type</label>
            <div class="form-select">
              <select name="charttype" id="charttype">
                <option value="pie" {{#ifequal widget.charttype "pie"}}selected{{/ifequal}}>Pie chart</option>
                <option value="boolean" {{#ifequal widget.charttype "boolean"}}selected{{/ifequal}}>Failed or passed</option>
              </select>
            </div>
          </div>
        {{/ifequal}}

        {{#ifequal widget.type "burndown"}}
          <div class="form-field">
            <label for="jira_board_id">JIRA Board ID *</label>
            <input type="text" name="jira_board_id" id="jira_board_id" value="{{widget.jira_board_id}}" placeholder="JIRA board or repidView ID" required />
          </div>
          <div class="form-field">
            <label for="jira_sprint_id">JIRA Sprint ID *</label>
            <input type="text" name="jira_sprint_id" id="jira_sprint_id" value="{{widget.jira_sprint_id}}" placeholder="JIRA sprint ID" required />
          </div>
        {{/ifequal}}

        {{#ifequal widget.type "blazemeter"}}
          <div class="form-field">
            <label for="blazemeter_testid">BlazeMeter test ID *</label>
            <input type="text" name="blazemeter_testid" id="blazemeter_testid" value="{{widget.blazemeter_testid}}" placeholder="BlazeMeter test ID" required />
          </div>
        {{/ifequal}}

        {{#ifequal widget.type "kpi-test-result"}}
          <p>This widget will always take the latest result of a testcase.</p>
          <div class="form-field">
            <label for="testcase">Testcase *</label>
            <div class="form-select">
              <select name="testcase" id="testcase" required>
                {{#select widget.testcase}}
                  <option></option>
                  {{#each testcases}}
                    <option value="{{this.id}}">{{this.title}}</option>
                  {{/each}}
                {{/select}}
              </select>
            </div>
          </div>
        {{/ifequal}}

        {{#ifequal widget.type "jira-tickets"}}
          <div class="form-field">
            <label for="charttype">Chart type</label>
            <div class="form-select">
              <select name="charttype" id="charttype">
                <option value="pie" {{#ifequal widget.charttype "pie"}}selected{{/ifequal}}>Pie chart</option>
                <option value="number" {{#ifequal widget.charttype "number"}}selected{{/ifequal}}>Amount of...</option>
              </select>
            </div>
          </div>
          <div class="form-field">
            <label for="chartfields">Fields to use</label>
            <div class="form-select">
              <select name="chartfields" id="chartfields">
                <optgroup label="For charts">
                  <option value="assignees" {{#ifequal widget.chartfields "assignees"}}selected{{/ifequal}}>Assignees</option>
                  <option value="priorities" {{#ifequal widget.chartfields "priority"}}selected{{/ifequal}}>Priority</option>
                  <option value="statuses" {{#ifequal widget.chartfields "statuses"}}selected{{/ifequal}}>Status</option>
                </optgroup>
                <optgroup label="For amount of...">
                  <option value="tickets" {{#ifequal widget.chartfields "tickets"}}selected{{/ifequal}}>Tickets</option>
                </optgroup>
              </select>
            </div>
          </div>
        {{/ifequal}}

      </fieldset>
    </div>
     <div class="form-field--actions">
      <button type="submit">update</button>
      <a class="delete-item" href="/widgets/delete/{{widget.id}}">delete</a>
    </div>

  </form>
</div>
