<header>
  <small>create</small>
  <h1>{{description}}</h1>
</header>

<div class="content">
  <form method="POST" action="/widgets/new" class="has-action-bar">
    <fieldset>
      <legend>Widget setup</legend>

      <div class="form-column-wrapper">
        <div class="form-column">
          <div class="form-field">
            <label for="title">Widget title *</label>
            <input type="text" name="title" id="title" placeholder="Garnier: Open JIRA tasks for sprint 7" required />
          </div>
          <div class="form-field">
            <label for="dashboardtitle">Dashboard title</label>
            <input type="text" name="dashboardtitle" id="dashboardtitle" placeholder="Nice title for display on dashboard" required />
          </div>
          <div class="form-field">
            <label for="type">Type *</label>
            <div class="form-select">
              <select name="type" id="type">
                <option value="jira-tickets">JIRA tickets</option>
                <option value="burndown">JIRA burndown</option>
                <option value="enter-uat">UAT entry</option>
                <option value="exit-uat">UAT exit</option>
                <option value="kpi-test-result">KPI test result (pass or fail)</option>
                <option value="blazemeter">BlazeMeter result</option>
                <option value="selenium">Selenium result</option>
                <option value="build-status">Build status</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-column">
          <div class="form-field">
            <label for="description">Short description</label>
            <textarea rows="7" cols="50" name="description" id="description" placeholder="Additional info about the widget"></textarea>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="form-field--actions">
      <button type="submit">Next step</button>
    </div>
  </form>
</div>
