<header>
  <small>overview</small>
  <h1>{{title}}</h1>
</header>

<div class="content">
  <p style="float: right;margin:0;">
    <a href="/widgets/new" class="button">New widget</a>
  </p>
  <table class="testcase__list display" cellspacing="0" data-page-length="80">
    <thead>
      <tr>
        <th>title</th>
        <th>dashboard title</th>
        <th>description</th>
        <th>type</th>
        <th>actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each widgets}}
        <tr id="{{this.id}}">
          <td class="testcase__column--title">{{this.title}}</td>
          <td class="testcase__column--dashboardtitle">{{this.dashboardtitle}}</td>
          <td class="testcase__column--description">{{this.description}}</td>
          <td class="testcase__column--type">{{this.type}}</td>
          <td class="testcase__column--actions" data-order="false">
            <a class="button" href="/widgets/edit/{{this.type}}/{{this.id}}">edit</a>
            <a class="button" href="/widgets/delete/{{this.id}}">delete</a>
            <a class="button" href="/api/widget/{{this.id}}">JSON</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
