<header class="dashboard__header {{#if light}}dashboard__header--light{{/if}}" style="background: {{dashboard.color}}">
  <div class="dashboard__name">
    <h1 class="dashboard__title">{{dashboard.title}}</h1>
  </div>
  {{#if dashboard.logourl}}
    <img class="dashboard__logo" src="{{dashboard.logourl}}" height="38"/>
  {{/if}}
  <div class="dashboard__actions">
    <button id="gofullscreen">Go fullscreen</button>
    <button id="exitfullscreen">exit fullscreen</button>
    <a href="/dashboards/edit/{{dashboard.id}}" class="button">Edit</a>
  </div>
</header>

<div class="widget">
  <div class="widget__inner">
    {{#each pages}}
      <ul class="widget__list widget__list--{{this.layout}}">
        {{#each this.widgets}}
          <li data-refreshrate="{{this.refreshrate}}" id="{{this.id}}" class="widget__item widget__item--{{this.charttype}} widget__item--{{this.page}} widget__item--{{this.position}}">
            <div class="loading">Valtech</div>
            <div class="widget__content">

              <div class="widget__text">
                <h2>{{this.dashboardtitle}}</h2>
                <p>{{this.description}}</p>
              </div>
              <figure class="widget__data">

                {{#if this.canvas}}
                  <canvas class="widget__data-content"></canvas>
                {{else}}
                  <div class="widget__data-content"></div>
                {{/if}}
              </figure>
            </div>
          </li>
        {{/each}}
      </ul>
    {{/each}}
  </div>
</div>
{{#ifnotequal dashboard.pages "1"}}
<div class="loader"></div>
{{/ifnotequal}}