<header>
  <small>overview</small>
  <h1>{{title}}</h1>
</header>

<div class="content">
  <p style="float: right;margin:0;">
    <a href="/dashboards/new" class="button">New dashboard</a>
  </p>
  <table class="testcase__list display" cellspacing="0" data-page-length="10">
    <thead>
      <tr>
        <th>title</th>
        <th>description</th>
        <th>actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each dashboards}}
        <tr id="{{this.id}}">
          <td class="testcase__column--title" data-order="{{this.title}}">{{this.title}}</td>
          <td class="testcase__column--description" data-order="{{this.description}}">{{this.description}}</td>
          <td class="testcase__column--actions" data-order="false">
            <a class="button" href="/dashboards/edit/{{this.id}}">edit</a>
            <a class="button" href="/dashboards/delete/{{this.id}}">delete</a>
            <a class="button" href="/dashboards/run/{{this.id}}" target="_blank">run</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
