<header>
  <small>dashboard</small>
  <h1 class="edit-dashboard">{{dashboard.title}}</h1>
</header>
<div class="content">
  <form method="POST" action="/dashboards/update" class="has-action-bar">
    <input type="hidden" name="id" value="{{dashboard.id}}">

    <fieldset>
      <legend>Dashboard setup</legend>

      <div class="form-column-wrapper">
        <div class="form-column">
          <div class="form-field">
            <label for="title">Dashboard title *</label>
            <input type="text" name="title" value="{{dashboard.title}}" id="title" placeholder="Dashboard title" required />
          </div>
          <div class="form-field">
            <label for="description">description</label>
            <input type="text" name="description" value="{{dashboard.description}}" id="description" placeholder="short description"/>
          </div>
        </div>

        <div class="form-column">
          <div class="form-field">
            <label for="logourl">URL to logo</label>
            <input type="url" name="logourl" id="logourl" value="{{dashboard.logourl}}" placeholder="http://hackathon.valtech.fr/images/logo-valtech-white.png"/>
          </div>
          <div class="form-field">
            <label for="color">Theme color</label>
            <input type="text" name="color" id="color" minlength="7" maxlength="7" value="{{dashboard.color}}" placeholder="#424242"/>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>Add widgets</legend>

      <div class="form-field" style="overflow: hidden;">
        <label for="addwidget">Add a widget</label>
        <div class="form-select" style="float: left;margin: 0 0.5rem 0 0;">
          <select name="addwidget" id="addwidget">
            <option value="choose">choose</option>
            {{#each widgets}}
              <option value="{{this.id}}">{{this.title}}</option>
            {{/each}}
          </select>
        </div>
        <button type="submit">add widget</button>
        <p class="form-item-help">Widgets are added to the first page. If you don't have widgets yet, <a href="/widgets">go here</a>.</p>
      </div>
    </fieldset>

    <h2>widgets</h2>

    <div class="tabs">
      <input type="hidden" name="pages" id="pages-field" value="{{dashboard.pages}}">

      {{#each pagesAndWidgets}}
        <input tabindex="0" type="radio" id="page-{{this.index}}" name="page-tabs" {{#ifequal this.index 1}}checked{{/ifequal}}>
        <label for="page-{{this.index}}">Page {{this.index}}</label>
        <div class="tab">

          <div class="form-column-wrapper">
            <div class="form-column">
              <div class="form-field">
                <label for="layout">Page layout</label>
                <div class="form-select">
                  <select name="layout" id="layout">
                    <option value="1x1" {{#ifequal this.layout "1x1"}}selected{{/ifequal}}>1 by 1 (1 column on 1 row)</option>
                    <option value="2x1" {{#ifequal this.layout "2x1"}}selected{{/ifequal}}>2 by 1 (2 columns on 1 row)</option>
                    <option value="3x1" {{#ifequal this.layout "3x1"}}selected{{/ifequal}}>3 by 1 (3 columns on 1 row)</option>
                    <option value="4x1" {{#ifequal this.layout "4x1"}}selected{{/ifequal}}>4 by 1 (4 columns on 1 row)</option>
                    <option value="5x1" {{#ifequal this.layout "5x1"}}selected{{/ifequal}}>5 by 1 (5 columns on 1 row)</option>
                    <option value="6x1" {{#ifequal this.layout "6x1"}}selected{{/ifequal}}>6 by 1 (6 columns on 1 row)</option>
                    <option value="1x2" {{#ifequal this.layout "1x2"}}selected{{/ifequal}}>1 by 2 (1 column on 2 row)</option>
                    <option value="2x2" {{#ifequal this.layout "2x2"}}selected{{/ifequal}}>2 by 2 (2 columns on 2 rows)</option>
                    <option value="3x2" {{#ifequal this.layout "3x2"}}selected{{/ifequal}}>3 by 2 (3 columns on 2 rows)</option>
                    <option value="4x2" {{#ifequal this.layout "4x2"}}selected{{/ifequal}}>4 by 2 (4 columns on 2 rows)</option>
                    <option value="5x2" {{#ifequal this.layout "5x2"}}selected{{/ifequal}}>5 by 2 (5 columns on 2 rows)</option>
                    <option value="6x2" {{#ifequal this.layout "6x2"}}selected{{/ifequal}}>6 by 2 (6 columns on 2 rows)</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-column">
              <div class="form-field">
                <label for="deletepage">Page actions</label>
                <button type="submit">update</button>
                <button type="submit" name="deletepage" value="{{this.index}}">delete page (and widgets)</button>
              </div>
            </div>
          </div>

          {{#if hasWidgets}}
            <div class="tab-widget-wrapper dashboard-widget-holder-layout--{{this.layout}}">
              {{#each this.widgets}}
                <fieldset id="widget-{{this.id}}">
                  <legend>{{this.title}}</legend>
                  <input type="hidden" name="widgetid" value="{{this.id}}" />
                  <div class="form-field-wrapper">
                    <div class="form-field form-field-small">
                      <label for="position">Position</label>
                      <div class="form-select">
                        <select name="position" id="position">
                          {{#select this.position}}
                            {{#each this.positions}}
                              <option value="{{this}}">{{this}}</option>
                            {{/each}}
                          {{/select}}
                        </select>
                      </div>
                    </div>
                    <div class="form-field form-field-small">
                      <label for="page">Page</label>
                      <div class="form-select">
                        <select name="page" id="page">
                          {{#select this.page}}
                            {{#each this.pagesAsArray}}
                              <option value="{{this}}">{{this}}</option>
                            {{/each}}
                          {{/select}}
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-field">
                    <label for="refreshrate">Refresh rate</label>
                    <div class="form-select">
                      <select name="refreshrate" id="refreshrate">
                        <option value="60" {{#ifequal this.refreshrate "60"}}selected{{/ifequal}}>1 minute</option>
                        <option value="300" {{#ifequal this.refreshrate "300"}}selected{{/ifequal}}>5 minutes</option>
                        <option value="600" {{#ifequal this.refreshrate "600"}}selected{{/ifequal}}>10 minutes</option>
                        <option value="never" {{#ifequal this.refreshrate "never"}}selected{{/ifequal}}>never</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-field">
                    <button type="submit">update</button>
                    <a class="delete-item" target="_blank" href="/widgets/edit/{{this.type}}/{{this.id}}">edit</a>
                    <button class="button-like-link" name="removewidget" type="submit" value="{{this.id}}">remove</button>
                  </div>
                </fieldset>
              {{/each}}
            </div>
          {{else}}
            <p>No widgets yet&hellip;</p>
          {{/if}}
        </div>
      {{/each}}
      <button class="dashboard-add-page">+</button>
    </div>
    <div class="form-field--actions">
      <button type="submit">Update</button>
      <a class="delete-item" href="/dashboards/run/{{dashboard.id}}" target="_blank">run</a>
      <a class="delete-item" href="/dashboards/delete/{{dashboard.id}}">delete</a>
    </div>
  </form>
</div>
