<header>
  <small>create</small>
  <h1>{{title}}</h1>
</header>
<div class="content">
  <form method="POST" action="/dashboards/new" class="has-action-bar">
    <input type="hidden" name="pages" value="1">
    <input type="hidden" name="layout" value="1x1">

    <fieldset>
      <legend>Dashboard setup</legend>

      <div class="form-column-wrapper">
        <div class="form-column">
          <div class="form-field">
            <label for="title">Dashboard title *</label>
            <input type="text" name="title" id="title" placeholder="Dashboard title" required />
          </div>
          <div class="form-field">
            <label for="description">description</label>
            <input type="text" name="description" id="description" placeholder="short description"/>
          </div>
        </div>

        <div class="form-column">
          <div class="form-field">
            <label for="logourl">URL to logo</label>
            <input type="url" name="logourl" id="logourl" placeholder="http://hackathon.valtech.fr/images/logo-valtech-white.png" value="http://hackathon.valtech.fr/images/logo-valtech-white.png" />
          </div>

          <div class="form-field">
            <label for="color">Theme color *</label>
            <input type="text" name="color" id="color" minlength="7" maxlength="7" required placeholder="#424242" value="#424242"/>
          </div>
        </div>
      </div>
    </fieldset>
     <div class="form-field--actions">
      <button type="submit">Save and next step</button>
    </div>
  </form>
</div>
