<header>
  <small>{{title}}</small>
  <h1>Are you sure you want to delete "{{item.title}}"?</h1>
</header>

<div class="content">
  <form method="POST" action="/{{type}}/delete" class="has-action-bar">
    <div class="form-field">
      <input type="hidden" name="id" value="{{item.id}}"/>
      <button type="submit" autofocus>Make it so...</button>
      <a class="delete-item" href="/{{type}}">nope</a>
    </div>
  </form>
</div>
