<header>
  <small>welcome</small>
  <h1>WSF KPI test runner</h1>
</header>

<div class="content">
  <article>
    <p>
      Welcome to the L'Oréal Website Factory KPI test runner.
      In this tool you can configure <a href="/testcases">test cases</a> which generate result sets for the KPI's we have in the Website Factory program.
    </p>
    <p>
      Based on these <a href="/results">results</a>, you can create <a href="/widgets">widgets</a> that show the result on a <a href="/dashboards">dashboard</a> you can confgure yourself.
      Next to KPI test case results widgets can do many other things. Create a <a href="/widgets/new">new widget</a> to see your options.
    </p>
    <p>Currently we have {{testcases.length}} testcases and a resultset of {{results.length}} records of which {{passing.length}} passed and {{failing.length}} failed.</p>
  </article>

  <p>
    <a href="/testcases/new" class="button">create new test case</a>
    <a href="/dashboards/new" class="button">create new dashboard</a>
    <a href="/widgets/new" class="button">create new widget</a>
  </p>

  {{!-- <canvas class="home-results-graph"></canvas>
  <script>
    window.homeResultsGraphOptions = {{{json resultsGraphData}}}
  </script> --}}
</div>
