<header>
  <small>Global</small>
  <h1>{{title}}</h1>
</header>

<div class="content">
  <form method="POST" action="/settings">
    <div class="form-column-wrapper">
      <fieldset class="form-column">
        <legend>JIRA</legend>
        <div class="form-field">
          <label for="settingsJiraUrl">url</label>
          <input type="url" name="settingsJiraUrl" id="settingsJiraUrl" value="{{settingsForTmpl.settingsJiraUrl}}" placeholder="https://jira.e-loreal.com" />
        </div>
        <div class="form-field">
          <label for="settingsJiraUsername">username</label>
          <input type="text" name="settingsJiraUsername" id="settingsJiraUsername" value="{{settingsForTmpl.settingsJiraUsername}}" placeholder="username" />
        </div>
        <div class="form-field">
          <label for="settingsJiraPassword">password</label>
          <input type="password" name="settingsJiraPassword" id="settingsJiraPassword" value="{{settingsForTmpl.settingsJiraPassword}}" placeholder="password" />
        </div>
        <button type="submit">save</button>
      </fieldset>

      <fieldset class="form-column">
        <legend>Others</legend>
        <div class="form-field">
          <label for="settingsGoogleApikey">Google API key for mobile friendliness</label>
          <input type="text" name="settingsGoogleApikey" id="settingsGoogleApikey" value="{{settingsForTmpl.settingsGoogleApikey}}" placeholder="API key" />
        </div>
        <div class="form-field">
          <label for="catchpointClientId">Catchpoint client id</label>
          <input type="text" name="catchpointClientId" id="catchpointClientId" value="{{settingsForTmpl.catchpointClientId}}" placeholder="client id" />
        </div>

        <div class="form-field">
          <label for="catchpointClientSecret">Catchpoint client secret</label>
          <input type="text" name="catchpointClientSecret" id="catchpointClientSecret" value="{{settingsForTmpl.catchpointClientSecret}}" placeholder="client secret" />
        </div>

        <button type="submit">save</button>
      </fieldset>
    </div>
  </form>
</div>
