@keyframes scaleto {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes opAnim {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

* {
  box-sizing: border-box; }

html {
  background: #232323; }

body {
  background-image: url(../images/noise.png), linear-gradient(#777777, #666666 85%);
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #eee;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  height: 100%; }

datalist {
  display: none; }

.layout {
  display: grid;
  grid-template-columns: 115px 1fr;
  grid-column-gap: 0;
  height: 100vh;
  overflow: auto; }

nav {
  width: 100%;
  box-sizing: border-box;
  border-right: 1px solid rgba(238, 238, 238, 0.5); }

main {
  box-sizing: border-box; }
  main header {
    padding: 0 2rem;
    margin: 2rem 0 0 0; }
    main header h1, main header small, main header p {
      margin: 0; }
    main header h1 {
      margin: 0 0 .5rem 0; }

@keyframes fade {
  to {
    opacity: 1; } }

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
  main .content {
    padding: 1rem 2rem;
    max-width: calc(100vw - 115px);
    opacity: 0;
    animation: fade 300ms 150ms forwards ease;
    will-change: transform, opacity; }
    main .content article {
      max-width: 800px;
      background: rgba(238, 238, 238, 0.1);
      border: 1px solid rgba(238, 238, 238, 0.4);
      border-radius: 5px;
      box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.5);
      padding: 0 1rem; }

.loading-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  background: rgba(238, 238, 238, 0.1);
  border: 1px solid rgba(238, 238, 238, 0.4);
  border-radius: 5px;
  box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 0px 10000px rgba(0, 0, 0, 0.5);
  font-size: 70%;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(238, 238, 238, 0.7); }
  .loading-modal h1 {
    color: #111;
    margin: 0; }
    .loading-modal h1:after {
      content: "";
      width: 15px;
      height: 15px;
      background: url(/public/images/ajax-loader.gif) no-repeat;
      display: block;
      margin: 1rem auto 0; }

a {
  color: #eee; }
  a:hover {
    color: #093746; }

th, td, label {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); }

a:focus, button:focus, input:focus, textarea:focus, th:focus {
  outline: 1px dashed rgba(238, 238, 238, 0.3); }

h1, h2, h3, h4, legend {
  color: #eee;
  font-weight: 300;
  line-height: 1;
  margin: 0 0 2rem 0;
  font-family: "Helvetica Neue", Helvetica;
  font-size: 3em;
  margin: 0 0 1rem 0;
  letter-spacing: 0.03em; }

small {
  text-transform: uppercase;
  font-weight: 500;
  color: #bbbbbb;
  margin: 0;
  display: block; }

.status-FAIL,
.status-PASS,
.status-WARNING {
  background: rgba(255, 0, 0, 0.6);
  padding: 0.1rem 0.5rem;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.4); }

.status-PASS {
  background: rgba(0, 128, 0, 0.6); }

.status-WARNING {
  background: rgba(255, 165, 0, 0.6); }

.result-output {
  font-family: Monaco, Courier, monospace;
  overflow: auto;
  width: 100%;
  line-height: 1.5;
  font-size: 12px;
  color: rgba(238, 238, 238, 0.8);
  margin: 0 0 1rem;
  padding: 0.5rem 1rem;
  background: rgba(238, 238, 238, 0.1);
  border: 1px solid rgba(238, 238, 238, 0.4);
  border-radius: 5px;
  box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.5); }

nav {
  background-color: rgba(0, 0, 0, 0.25); }
  nav .logo {
    width: 115px;
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0; }
    nav .logo svg {
      display: block;
      width: 60%;
      height: auto;
      margin: 0 auto; }
      nav .logo svg path {
        fill: #eee; }
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 115px; }
    nav ul a {
      text-decoration: none;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 12px;
      padding: 0 0 1rem 0;
      border-bottom: 1px solid rgba(238, 238, 238, 0.1);
      border-top: 1px solid rgba(17, 17, 17, 0.2);
      line-height: 1;
      text-align: center;
      width: 100%;
      display: block; }
      nav ul a.active, nav ul a:hover, nav ul a:focus {
        background: rgba(0, 0, 0, 0.2);
        color: #eee;
        outline: none;
        border-bottom: 1px solid rgba(238, 238, 238, 0.3);
        border-top: 1px solid rgba(17, 17, 17, 0.2); }
      nav ul a svg {
        display: block;
        width: 50%;
        height: auto;
        margin: 0 auto; }
        nav ul a svg path {
          fill: #eee; }
      nav ul a.navigation-home svg {
        width: 50px;
        margin: 6px auto 0; }
      nav ul a.navigation-testacses svg {
        width: 50px;
        margin: 6px auto 8px; }
      nav ul a.navigation-results svg {
        width: 50px;
        margin: 6px auto 4px; }
      nav ul a.navigation-dashboards svg {
        width: 46px;
        margin: 6px auto 0px; }
      nav ul a.navigation-widgets svg {
        width: 50px;
        margin: 6px auto 6px; }
        nav ul a.navigation-widgets svg path {
          fill: transparent;
          stroke: #eee; }
      nav ul a.navigation-api svg {
        width: 50px;
        margin: 6px auto 6px; }
        nav ul a.navigation-api svg circle {
          fill: #eee; }
        nav ul a.navigation-api svg path {
          fill: #eee; }
      nav ul a span {
        display: block; }

form {
  margin: -1rem 0 0 0; }

.form-column-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 0 1rem 0; }
  .form-column-wrapper .form-column {
    flex: 1;
    margin: 0 1rem 0 0; }
    .form-column-wrapper .form-column:last-child {
      margin: 0; }

.has-action-bar fieldset {
  margin-top: 2rem; }
  .has-action-bar fieldset.form-column {
    margin: 2rem 1rem 0 0; }
    .has-action-bar fieldset.form-column:last-child {
      margin: 2rem 0 0 0; }

fieldset {
  margin: 0 0 1rem;
  padding: 0.5rem 1rem;
  background: rgba(238, 238, 238, 0.1);
  border: 1px solid rgba(238, 238, 238, 0.4);
  border-radius: 5px;
  box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.5); }
  fieldset legend {
    font-size: 2em; }

.form-item-help {
  font-size: 11px;
  margin: 1rem 0;
  padding: 0 0 0 1rem;
  color: rgba(238, 238, 238, 0.9); }

p.form-item-help {
  padding: 0;
  margin: 1rem 0 0;
  clear: both; }

.form-field--actions {
  background: rgba(238, 238, 238, 0.1);
  border: 1px solid rgba(238, 238, 238, 0.4);
  border-radius: 5px;
  box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.5);
  padding: 0.5rem 1rem;
  margin: 0 0 1rem 0; }

.testcase-graph {
  background: rgba(238, 238, 238, 0.1);
  border: 1px solid rgba(238, 238, 238, 0.4);
  border-radius: 5px;
  box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.5);
  padding: 1rem; }

.form-field {
  display: block;
  margin: 0 0 1rem 0; }
  .form-field label {
    display: block;
    font-size: 11px;
    margin: 0 0 .3rem;
    text-transform: uppercase; }

::placeholder {
  color: rgba(238, 238, 238, 0.7); }

::-webkit-input-placeholder {
  color: rgba(238, 238, 238, 0.7); }

input,
textarea {
  color: #eee;
  background: rgba(17, 17, 17, 0.3);
  border: 1px solid rgba(238, 238, 238, 0.4);
  padding: 0.5rem;
  line-height: 1;
  margin: 0;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.02em;
  max-width: 400px;
  width: 100%;
  transition: 200ms all ease; }
  input::-webkit-calendar-picker-indicator,
  textarea::-webkit-calendar-picker-indicator {
    opacity: 100;
    cursor: pointer; }
    input::-webkit-calendar-picker-indicator:hover,
    textarea::-webkit-calendar-picker-indicator:hover {
      background: none; }
  input[disabled],
  textarea[disabled] {
    opacity: 0.5;
    cursor: default; }
  input:focus,
  textarea:focus {
    outline: none;
    border-bottom: 1px solid rgba(238, 238, 238, 0.6);
    border-right: 1px solid rgba(238, 238, 238, 0.6);
    background: rgba(0, 0, 0, 0.25); }

textarea {
  line-height: 1.2; }

.form-select {
  margin: 0;
  max-width: 400px;
  width: 100%;
  overflow: hidden;
  position: relative;
  color: #eee;
  background: rgba(17, 17, 17, 0.3);
  border: 1px solid rgba(238, 238, 238, 0.4);
  padding: 0.25rem;
  line-height: 1;
  color: #eee;
  border-radius: 3px; }
  .form-select:after {
    top: calc(50% - 2px);
    left: calc(100% - 20px);
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-top-color: #eee;
    border-width: 7px 4px 0px 4px;
    z-index: 1; }
  .form-select select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    appearance: none;
    color: #eee;
    letter-spacing: 0.02em;
    cursor: pointer; }
    .form-select select:focus {
      outline: none; }
    .form-select select[disabled] {
      opacity: 0.5;
      cursor: default; }

.form-fields-for-testcase {
  position: absolute;
  top: -9999px; }
  .form-fields-for-testcase.form-fields-shown {
    position: static; }

a.button,
button,
.paginate_button {
  background: rgba(17, 17, 17, 0.3);
  border: 1px solid rgba(238, 238, 238, 0.4);
  color: #eee;
  border-radius: 5px;
  outline: none;
  padding: .9em 1em;
  font-size: 11px;
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: 300ms all ease; }
  a.button:hover, a.button.current, a.button:focus,
  button:hover,
  button.current,
  button:focus,
  .paginate_button:hover,
  .paginate_button.current,
  .paginate_button:focus {
    background: rgba(9, 55, 70, 0.8);
    color: #eee; }
  a.button:focus,
  button:focus,
  .paginate_button:focus {
    outline: 1px dashed rgba(238, 238, 238, 0.3); }
  a.button.disabled,
  a.button [disabled],
  button.disabled,
  button [disabled],
  .paginate_button.disabled,
  .paginate_button [disabled] {
    cursor: default;
    background: rgba(0, 0, 0, 0.4);
    color: rgba(238, 238, 238, 0.5); }

.paginate_button {
  margin: 0 3px 0 0; }

.delete-item {
  color: #eee;
  font-size: 90%;
  padding: 0 0 0 0.2rem; }
  .delete-item:hover {
    color: #093746; }

.button-like-link {
  background: none;
  color: #eee;
  padding: 0;
  border: none;
  margin: 0 0 0 5px;
  text-transform: lowercase;
  font-size: 90%;
  text-decoration: underline;
  transition: none; }
  .button-like-link:hover {
    background: none;
    color: #093746;
    text-shadow: none; }

.table-filter-wrapper {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-column-gap: 2rem; }
  .table-filter-wrapper h4 {
    font-size: .9rem;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    margin: 0 0 .5rem 0; }
  .table-filter-wrapper ul {
    list-style: none;
    margin: 0 0 2rem 0;
    background: rgba(238, 238, 238, 0.1);
    border: 1px solid rgba(238, 238, 238, 0.4);
    border-radius: 5px;
    box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.5);
    padding: 0; }
    .table-filter-wrapper ul li:first-child a {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0; }
    .table-filter-wrapper ul li:last-child a {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px; }
    .table-filter-wrapper ul a {
      display: block;
      margin: 0;
      padding: .3rem .5rem;
      transition: all 200ms ease;
      line-height: 1.5;
      text-decoration: none;
      border-bottom: 1px solid rgba(17, 17, 17, 0.2);
      font-size: 85%; }
      .table-filter-wrapper ul a:hover, .table-filter-wrapper ul a.active {
        background: rgba(17, 17, 17, 0.4);
        color: #eee; }

table {
  width: 100%;
  margin: 1rem 0;
  font-size: 12px; }
  table th {
    text-align: left;
    font-weight: 500;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.2);
    padding: 0.5rem 0 0.5rem 1.4rem;
    border-bottom: 1px solid rgba(238, 238, 238, 0.5);
    cursor: pointer; }
  table tr {
    background: rgba(0, 0, 0, 0.1); }
    table tr:nth-child(even) {
      background: rgba(0, 0, 0, 0.05); }
  table td {
    font-weight: 300;
    padding: 0.5rem 0 0.5rem 0.5rem;
    border-bottom: 1px solid rgba(238, 238, 238, 0.4); }
  table .truncate {
    max-width: 290px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: bottom; }
  table .sorting,
  table .sorting_asc,
  table .sorting_desc {
    position: relative; }
    table .sorting:before, table .sorting:after,
    table .sorting_asc:before,
    table .sorting_asc:after,
    table .sorting_desc:before,
    table .sorting_desc:after {
      content: '';
      position: absolute;
      left: 8px;
      top: 11px;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #eee;
      border-top: none;
      font-size: 0;
      line-height: 0; }
    table .sorting:after,
    table .sorting_asc:after,
    table .sorting_desc:after {
      top: 18px;
      border-top: 5px solid #eee;
      border-bottom: none; }
  table .sorting_asc:before, table .sorting_asc:after {
    border-bottom-color: #eee; }
  table .sorting_asc:after {
    border-top-color: #aaa; }
  table .sorting_desc:before, table .sorting_desc:after {
    border-bottom-color: #aaa; }
  table .sorting_desc:after {
    border-top-color: #eee; }

.tabs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 0 1rem 0;
  border: solid #0b7191;
  border-width: 0 1px 1px 1px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(238, 238, 238, 0.4);
  border-right: 1px solid rgba(238, 238, 238, 0.4);
  border-top: none;
  border-left: 1px solid rgba(17, 17, 17, 0.6); }
  .tabs [type=radio] {
    position: absolute;
    left: -999px; }
    .tabs [type=radio]:checked + label {
      background: none;
      border-bottom: none;
      z-index: 2; }
      .tabs [type=radio]:checked + label + .tab {
        display: block; }
  .tabs .tab {
    order: 2;
    padding: 1em 1em 0;
    display: none;
    flex: 0 0 100%;
    box-sizing: border-box;
    top: -1px;
    position: relative;
    z-index: 1; }
  .tabs label {
    padding: .8rem 1.5rem;
    border: solid rgba(17, 17, 17, 0.6);
    border-width: 1px 1px 1px 0;
    cursor: pointer;
    font-weight: 500;
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.1); }
  .tabs .form-field label {
    display: block;
    font-size: 80%;
    margin: 0 0 0.5em 0;
    padding: 0;
    background: none;
    border: none;
    font-weight: 500; }
  .tabs:after {
    content: "";
    flex: auto;
    order: 1;
    position: relative;
    left: 0;
    border-top: 1px solid rgba(17, 17, 17, 0.6);
    border-bottom: 1px solid rgba(17, 17, 17, 0.6); }

.dashboard-add-page {
  border-color: transparent;
  border-bottom: 1px solid rgba(17, 17, 17, 0.6);
  border-radius: 0; }

.tab-widget-wrapper {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 0.5rem;
  box-sizing: border-box; }
  .tab-widget-wrapper.dashboard-widget-holder-layout--1x1 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
  .tab-widget-wrapper.dashboard-widget-holder-layout--2x1 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; }
  .tab-widget-wrapper.dashboard-widget-holder-layout--3x1 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr; }
  .tab-widget-wrapper.dashboard-widget-holder-layout--4x1 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr; }
  .tab-widget-wrapper.dashboard-widget-holder-layout--5x1 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr; }
  .tab-widget-wrapper.dashboard-widget-holder-layout--6x1 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr; }
  .tab-widget-wrapper.dashboard-widget-holder-layout--1x2 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; }
  .tab-widget-wrapper.dashboard-widget-holder-layout--2x2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
  .tab-widget-wrapper.dashboard-widget-holder-layout--3x2 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
  .tab-widget-wrapper.dashboard-widget-holder-layout--4x2 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
  .tab-widget-wrapper.dashboard-widget-holder-layout--5x2 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
  .tab-widget-wrapper.dashboard-widget-holder-layout--6x2 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; }

#gofullscreen,
#exitfullscreen {
  display: none; }

@keyframes opac {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.dashboard {
  width: 100%;
  overflow: hidden;
  background: #222; }
  .dashboard__title {
    text-transform: lowercase;
    font-variant: small-caps;
    font-family: "Open Sans", sans-serif; }
  .dashboard__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh; }
  .dashboard__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    padding: 15px 10px; }
  .dashboard .widget {
    flex: 1; }
    .dashboard .widget__data {
      color: #eee; }

@keyframes loader {
  from {
    transform: translateX(-100%); }
  to {
    transform: translateX(0); } }
  .dashboard .loader {
    position: relative;
    height: 8px;
    display: block;
    width: 100%;
    animation-name: loader;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: .25s;
    background-color: #00bdfa; }

.widget__inner {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  transition: transform 0.5s; }

.widget__list {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-template-rows: 1fr auto;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin: 0;
  padding: 15px 10px;
  flex: 0 0 100%;
  box-sizing: border-box;
  list-style: none; }
  .widget__list--1x1 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
  .widget__list--2x1 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; }
  .widget__list--3x1 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr; }
  .widget__list--4x1 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr; }
  .widget__list--5x1 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr; }
  .widget__list--6x1 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr; }
  .widget__list--1x2 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; }
  .widget__list--2x2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
  .widget__list--3x2 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
  .widget__list--4x2 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
  .widget__list--5x2 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
  .widget__list--6x2 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; }

.widget__text {
  padding: 2em;
  text-align: center;
  background-color: rgba(34, 34, 34, 0.2); }
  .widget__text h2 {
    font-size: 3.5vmin;
    margin-bottom: 0;
    font-weight: 400;
    color: #eee;
    text-transform: uppercase; }
  .widget__text p {
    margin: 10px 0 0;
    font-size: 2vmin;
    font-weight: 100;
    line-height: 1;
    text-transform: lowercase;
    font-variant: small-caps;
    color: #eee; }

.widget__data {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin: 0;
  padding: 1rem;
  color: #eee; }
  .widget__data-content {
    font-size: 10vmax;
    max-width: 80vmax;
    max-height: 100%;
    transform-origin: 50% 50%;
    animation: scaleto 0.5s 1s both ease-in; }
    [class*="x2"] .widget__data-content {
      font-size: 5vmax; }

.widget__item {
  position: relative;
  border: 1px solid rgba(238, 238, 238, 0.5);
  border-radius: 5px; }
  .widget__item--number .widget__data-content {
    font-weight: bold;
    line-height: 1; }
  .widget__item.widget-loading .loading {
    opacity: 1; }
  .widget__item.widget-loading .widget__data {
    opacity: 0; }

.widget__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: opacity 300ms ease; }
  .widget__content.widget--fail {
    position: relative;
    z-index: 1; }
    .widget__content.widget--fail::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      background-color: rgba(255, 0, 0, 0.5); }
  .widget__content.widget--pass {
    position: relative;
    z-index: 1; }
    .widget__content.widget--pass::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      background-color: rgba(12, 100, 17, 0.5); }
  .widget__content.widget--warning {
    position: relative;
    z-index: 1; }
    .widget__content.widget--warning::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      background-color: rgba(255, 165, 0, 0.3); }

.widget-outcome {
  font-weight: 700;
  text-align: center;
  line-height: 1;
  margin: 0 0 1rem;
  padding: 0; }

.widget-additional {
  max-width: 70%;
  margin: 0 auto;
  padding: 0;
  font-size: 1vw;
  font-weight: 400;
  text-align: center;
  line-height: 1.3; }

.widget .loading {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding-right: .8em;
  line-height: 1;
  opacity: 0; }
  .widget .loading::after {
    content: '';
    position: absolute;
    bottom: .1em;
    right: 0;
    width: .6em;
    height: 0.2em;
    background-color: #fff;
    display: block;
    animation: opac 1s infinite both; }
