html, body {
  margin: 0;
  background: #eee;
  color: #111;
  font-family: 'Open Sans', sans-serif;
}

.page-404 {
  text-align: center;
}

datalist {
  display: none;
}

a {
  color: #000;
}

a:hover{
  color: #0b7191
}

a.button,
button,
.paginate_button {
  background-color: rgba(26, 26, 26, .8);
  color: #fff;
  border: none;
  border-radius: 0;
  padding: .8em 1em .7em;
  font-size: 80%;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
}

a.button:hover,
button:hover,
.paginate_button:hover,
.paginate_button.current {
  background: #0b7191;
  color: #ffffff;
}

.dashboard-add-page {
  background: #0b7191;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  padding: 0 .5em;
}

.dashboard-add-page:hover {
  background-color: rgba(26, 26, 26, .8);
  color: #fff;
}

.button-like-link {
  background: none;
  color: #0b7191;
  padding: 0;
  margin: 0 0 0 5px;
  text-transform: lowercase;
  font-size: 90%;
  text-decoration: underline;
}

.button-like-link:hover {
  background: none;
  color: #111;
}

.paginate_button {
  margin: 0 2px 0 0;
}

.confluence-output {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #0b7191;
  font-family: monaco, monospace;
  font-size: 13px;
  padding: 1em;
  background: rgba(255, 255, 255, 0.7);
}

.paginate_button.disabled {
  cursor: default;
  pointer-events: none;
  opacity: 0.8;
}

.delete-item {
  color: #0b7191;
  font-size: 90%;
  padding: 0 0 0 1em;
}

.delete-item:hover {
  color: #111;
}

h1, h2, h3, h4, p {
  margin: 0 0 1em 0;
  line-height: 1.5;
}

p {
  font-size: 14px;
}

h1, h2, h3 {
  color: rgba(26, 26, 26, .8);
  font-weight: 500;
  text-transform: lowercase;
  line-height: 1;
  margin: 0 0 2rem 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3em;
  border-bottom: 1px solid #ccc;
}

h2 {
  font-size: 1.5em;
}

small {
  text-transform: uppercase;
  font-weight: 500;
  color: #0b7191;
  margin: 0;
  display: block;
}

main, nav {
  max-width: 1800px;
  width: calc(100% - 2em);
  margin: 0 0 0 1rem;
}

nav {
  margin: 1rem 0 2rem 1rem;
  display: flex;
  justify-content: space-between;
}

.page-404 nav {
  justify-content: center;
}

nav img {
  margin: 0.4em 0 0 0;
  width: 80px;
  height: 100%;
}

nav ul {
  display: flex;
}

.page-404 nav ul {
  display: none;
}

nav ul a {
  display: block;
  margin: 0 2em 0 0;
  text-decoration: none;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 90%;
}

nav ul a.active {
  color: #0b7191;
  border-bottom: 3px solid #0b7191;
  padding: 0 0 0.5em;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: bottom;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol {
  margin: 1em 0 0 1em;
  padding: 0;
}

.testcase__list {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid rgba(26, 26, 26, .2);
  background: rgba(26, 26, 26, .1);
  list-style: none;
  width: 100%;
  font-size: 90%;
}

.testcase__list th {
  text-decoration: underline;
  cursor: pointer;
  padding: 0 0 0 15px;
}

.sorting,
.sorting_asc,
.sorting_desc {
  position: relative;
}

.sorting::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 9px;
  width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #aaa;
	font-size: 0;
	line-height: 0;
}

.sorting::after {
  content: '';
  position: absolute;
  left: 0px;
  top: 16px;
  width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #aaa;
	font-size: 0;
	line-height: 0;
}

.sorting_asc::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 9px;
  width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #aaa;
	font-size: 0;
	line-height: 0;
}

.sorting_asc::after {
  content: '';
  position: absolute;
  left: 0px;
  top: 16px;
  width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #111;
	font-size: 0;
	line-height: 0;
}

.sorting_desc::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 9px;
  width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #111;
	font-size: 0;
	line-height: 0;
}

.sorting_desc::after {
  content: '';
  position: absolute;
  left: 0px;
  top: 16px;
  width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #aaa;
	font-size: 0;
	line-height: 0;
}

.testcase__list td,
.testcase__list th {
  text-align: left;
}

.testcase__list tr {
  line-height: 2.5;
}

.testcase__list tr:nth-child(even) {
  background: rgba(26, 26, 26, 0.03);
}

.testcase__list tr.status-PASS:nth-child(even) {
  background: rgba(123, 255, 0, 0.1);
}

.testcase__list tr.status-FAIL:nth-child(even) {
  background: rgba(255, 0, 0, 0.09);
}

.testcase__column--title {
  width: 30%;
}

.testcase__list td a {
  display: inline-block;
}

fieldset {
  box-sizing: border-box;
  margin: 0 0 1em 0;
  padding: 1em;
  border: 1px solid rgb(11, 113, 145);
  background: rgba(11, 113, 145, 0.1);
}

.form-column-wrapper fieldset:nth-child(2n) {
  margin: 0 0 1em 1em;
}

legend {
  font-weight: bold;
  padding: 0;
}

.form-field {
  margin: 0 0 1em 0;
}

.form-field-wrapper {
  display: flex;
  flex-direction: row;
}

.form-field-small {
  flex: 0 0 auto;
  width: 149px;
  margin: 0 1em 1em 0;
}

.form-item-help {
  font-size: 10px;
  color: #666;
  margin-bottom: 1em;
}

.form-field:last-child {
  margin: 0;
}

.form-field.form-field--actions {
  margin: 0 0 1em 0;
}

label {
  display: block;
  font-size: 80%;
  margin: 0 0 0.5em 0;
}

input {
  padding: 0.7em 0.5em;
  max-width: 300px;
  width: 100%;
  border: 1px solid #aaa;
}

input:focus,
select:focus {
  border-color: #0b7191;
  outline: none;
}

select {
  max-width: 313px;
  width: 100%;
  border: 1px solid #aaa;
  height: 26px;
}

textarea {
  max-width: 313px;
  width: 100%;
  border: 1px solid #aaa;
  resize: none;
}

.form-column-wrapper {
  display: flex;
  flex-direction: row;
}

.form-column {
  width: 50%;
}

.dataTables_wrapper {
  margin: 0 0 3em 0;
}

.testcase-output {
  font-family: monaco, monospace;
  padding: 1em;
  border: 1px solid #0b7191;
  line-height: 1.8;
  max-height: 400px;
  overflow: auto;
  margin: 1em 0 0 0;
  font-size: 13px;
}

.testcase-output pre {
  padding: 0;
  margin: 0;
}

.testcase-status {
  padding: 0.5em;
  font-size: 80%;
  margin: 0 0 4em 0;
  font-weight: 700;
  border: 1px solid #ddd;
}

.testcase-status.status-PASS {
  border-color: rgba(21, 37, 6, 0.2);
}

.status-PASS {
  background: rgba(123, 255, 0, 0.15);
}

.testcase-status.status-FAIL {
  border-color: rgba(70, 4, 4, 0.2);
}

.status-FAIL {
  background: rgba(255, 0, 0, 0.15);
}

.edit-dashboard-widget-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto auto;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.edit-dashboard-widget-wrap fieldset {
  width: 100%;
  margin: 0;
}

.page-dashboard main {
  max-width: none;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.page-dashboard .dashboard-head {
  background: rgba(26, 26, 26, .8);
  padding: 1em;
  font-size: 75%;
  display: flex;
  justify-content: space-between;
  margin: 0 0 0.2rem 0;
  height: 38px;
}

.dashboard-head-logo {
  max-height: 57px;
  width: auto;
}

.dashboard-head h1 {
  color: #fff;
  border: none;
  margin: 0;
  line-height: 1;
}

.dashboard-head.header--light h1 {
  color: #000;
}

.dashboard-head small {
  color: #ccc;
}

.dashboard-head-actions {
  display: flex;
  align-items: center;
}

.dashboard-head-actions button,
.dashboard-head-actions a,
.dashboard-head-actions .loader__item {
  margin: 0 0 0 0.5em;
}

.dashboard-widget-holder {
  flex: 1;
  display: flex;

  width: 100%;
  position: relative;
  overflow: hidden;
}

.dashboard-widget-inner {
  transition: transform 1s ease;
  visibility: visible;
  flex-basis: 100vw;
  display: flex;
  flex-direction: row;
  backface-visibility: hidden;
  transform: translateX(0);
}

.dashboard-widget-holder-page {
  padding: 0 .25em;
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-template-rows: 1fr auto;
  grid-column-gap: 0.2rem;
  grid-row-gap: 0.2rem;
  box-sizing: border-box;

  flex-basis: inherit;
  flex-grow: 0;
  flex-shrink: 0;
  user-select: none;
}

/*.dashboard-widget-holder-layout--1x1 { grid-template-columns: 1fr; grid-template-rows: 1fr; }
.dashboard-widget-holder-layout--2x1 { grid-template-columns: 1fr 1fr; grid-template-rows: 1fr; }
.dashboard-widget-holder-layout--3x1 { grid-template-columns: 1fr 1fr 1fr; grid-template-rows: 1fr; }
.dashboard-widget-holder-layout--4x1 { grid-template-columns: 1fr 1fr 1fr 1fr; grid-template-rows: 1fr; }
.dashboard-widget-holder-layout--5x1 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr; grid-template-rows: 1fr; }
.dashboard-widget-holder-layout--6x1 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; grid-template-rows: 1fr; }
.dashboard-widget-holder-layout--1x2 { grid-template-columns: 1fr; grid-template-rows: 1fr 1fr; }
.dashboard-widget-holder-layout--2x2 { grid-template-columns: 1fr 1fr; grid-template-rows: 1fr 1fr; }
.dashboard-widget-holder-layout--3x2 { grid-template-columns: 1fr 1fr 1fr; grid-template-rows: 1fr 1fr; }
.dashboard-widget-holder-layout--4x2 { grid-template-columns: 1fr 1fr 1fr 1fr; grid-template-rows: 1fr 1fr; }
.dashboard-widget-holder-layout--5x2 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr; grid-template-rows: 1fr 1fr; }
.dashboard-widget-holder-layout--6x2 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; grid-template-rows: 1fr 1fr; }*/

.widget {
  position: relative;
  width: 100%;
}

.widget-titles h2 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  border: none;
  margin: 0 0 0.3em;
}

.widget-titles p {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  color: #0b7191;
}

.widget-content {
  display: flex;
  flex-direction: column;
  height: calc(100% - 1em);
  background: #e1e1e1;
  padding: 0.5em;
}

.widget-loading:not(.widget-type--pie) .widget-content {
  background: #e1e1e1 url(/public/images/ajax-loader.gif) no-repeat center !important
}

.widget-loading .widget-content div.widget-data-holder {
  display: none;
}

.widget-titles {
  flex: 0 0 auto;
}

.widget-data-holder {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

figure {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
}

.widget-type--blazemeter .widget-data-holder,
.widget-type--kpi-pass-fail .widget-data-holder,
.widget-type--boolean .widget-data-holder,
.widget-type--number .widget-data-holder {
  font-size: 12vw;
  text-align: center;
  position: relative;
  font-weight: 700;
}

.widget-type--blazemeter .widget-data-holder p.widget-outcome,
.widget-type--kpi-pass-fail .widget-data-holder p.widget-outcome,
.widget-type--boolean .widget-data-holder p.widget-outcome {
  font-size: 8vw;
  margin: 0;
  line-height: 1;
}

.widget-type--kpi-pass-fail .widget-data-holder p.widget-additional
.widget-type--boolean .widget-data-holder p.widget-additional {
  font-weight: 500;
  font-size: 10px;
}

#exitfullscreen {
  display: none;
}

@keyframes fadeIn {
  0% { display: none; opacity: 0; }
  1% { display: block; opacity: 0; }
  100% { display: block; opacity: 1; }
}

.tabs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 0 1rem 0;
  background: #dae2e5;
  border: solid rgb(11, 113, 145);
  border-width: 0 1px 1px 1px;
}

.tabs [type=radio] {
  position: absolute;
  left: -9999999999px;
}

.tabs [type=radio]:checked + label {
  background: #dae2e5;
  border-bottom: 1px solid #dae2e5;
  z-index: 2;
}

 [type=radio]:checked + label + .tab {
  display: block;
  animation: fadeIn 500ms ease-in-out;
}

.tab {
  order: 2;
  background: #dae2e5;
  padding: 1em 1em 0;
  border-top: 1px solid rgb(11, 113, 145);
  display: none;
  flex: 0 0 100%;
  box-sizing: border-box;
  background: #dae2e5;
  top: -1px;
  position: relative;
  z-index: 1;
}

.tabs label {
  background: #eee;
  padding: .8em 1.5em;
  border: solid rgb(11, 113, 145);
  border-width: 1px 1px 1px 0;
  cursor: pointer;
  font-weight: 700;
  margin: 0;
}

.tabs .form-field label {
  display: block;
  font-size: 80%;
  margin: 0 0 0.5em 0;
  padding: 0;
  background: none;
  border: none;
  font-weight: 500;
}

.tabs:after {
  content: "";
  flex: auto;
  background: #eee;
  order: 1;
  position: relative;
  left: 1px;
  border-bottom: 1px solid rgb(11, 113, 145);
}

.tab-widget-wrapper {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 0.5rem;
  box-sizing: border-box;
}

.loader__item,
.loader__spinner {
  width: 20px;
  height: 20px;
}

.loader__spinner .path {
  stroke: hsl(210, 70, 75);
  animation: dash 10s linear infinite;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dasharray: 130, 150;
    stroke-dashoffset: 0;
  }
}
