<header>
  <small>confluence export</small>
  <h1>Export {{item.title}}</h1>
</header>

<div class="content">
  <form method="POST" action="/results/export" class="has-action-bar">
    <input type="hidden" name="id" value="{{item.id}}">
    <div class="form-column-wrapper">
      <fieldset class="form-column">
        <legend>1. Confluence page content</legend>
        <div class="form-field">
          <label for="content">Confluence content *</label>
          <ol class="form-item-help">
            <li>Once the page is created (after clicking "export"):</li>
            <li>Edit the page and select "insert markup".</li>
            <li>Copy and paste the below confluence wiki into the edit screen.</li>
            <li>Profit.</li>
          </ol>
          <textarea style="max-width: 549px" rows="20" cols="50" name="content" id="content">
||Date||Project||Environment||KPI||URL||
|{{item.date}}|{{item.project}}|{{item.environment}}|{{item.kpi}}|{{item.url}}|

{{#ifequal item.status "PASS"}}
{tip:title=Status of KPI test}
  {status:colour=Green|title=PASS}
  {{item.readableOutcome}}
{tip}
{{/ifequal}}
{{#ifequal item.status "FAIL"}}
{warning:title=Status of KPI test}
  {status:colour=Red|title=FAIL}
  {{item.readableOutcome}}
{warning}
{{/ifequal}}

{{#if item.resultString}}
{code:title=Resultset data|linenumbers=true|language=JavaScript}
{{item.resultString}}
{code}
{{/if}}
          </textarea>
        </div>
      </fieldset>
      <fieldset class="form-column">
        <legend>2. Export to confluence setup</legend>

        <div class="form-field">
          <label for="space">Confluence space *</label>
          <input type="text" name="space" id="space" placeholder="Confluence space (SCGAR)" required />
        </div>

        <div class="form-field">
          <label for="title">Confluence page title *</label>
          <input type="text" name="title" id="title" value="[{{item.date}}] {{item.title}}" placeholder="Confluence page title" required />
        </div>

        <div class="form-field">
          <label for="parentid">Confluence parentpage id *</label>
          <input type="text" name="parentid" id="parentid" placeholder="Confluence parentpage id (243642531)" required />
          <ol class="form-item-help">
            <li>Go to the page you want as parent for this one</li>
            <li>Click on the three dots in the right top</li>
            <li>Select "page information"</li>
            <li>Copy ID from url</li>
          </ol>
        </div>
      </fieldset>
    </div>
    <div class="form-field--actions">
      <button type="submit">Save to confluence</button>
    </div>

  </form>
</div>
