<header>
  <small>overview</small>
  <h1>{{title}}</h1>
</header>
<div class="content">

  <div class="table-filter-wrapper">
    <div class="table-filter">
      <h4>KPI</h4>
      <ul class="table-filter-list table-filter--kpi">
        {{#each kpis}}
          <li><a {{#if this.selected}}class="active"{{/if}} href="{{this.url}}">{{this.filter}}</a></li>
        {{/each}}
      </ul>
      <h4>Status</h4>
      <ul class="table-filter-list table-filter--status">
        {{#each statuses}}
          <li><a {{#if this.selected}}class="active"{{/if}} href="{{this.url}}">{{this.filter}}</a></li>
        {{/each}}
      </ul>
      <h4>project</h4>
      <ul class="table-filter-list table-filter--project">
        {{#each projects}}
          <li><a {{#if this.selected}}class="active"{{/if}} href="{{this.url}}">{{this.filter}}</a></li>
        {{/each}}
      </ul>
      <h4>Environment</h4>
      <ul class="table-filter-list table-filter--environment">
        {{#each envs}}
          <li><a {{#if this.selected}}class="active"{{/if}} href="{{this.url}}">{{this.filter}}</a></li>
        {{/each}}
      </ul>
    </div>
    <div class="table-wrapper">
      <table class="testcase__list display" cellspacing="0" data-page-length="80">
        <thead>
          <tr>
            <th>date</th>
            <th>testcase</th>
            <th>kpi</th>
            <th>status</th>
            <th>project</th>
            <th>env</th>
            <th>actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each results}}
            <tr id="{{this.id}}" class="kpi-{{this.kpi}} line-status-{{this.status}}">
              <td class="results__column--date" data-order="{{this.dateUnix}}">{{this.date}}</td>
              <td class="results__column--testcase" data-order="{{this.title}}">{{this.title}}</td>
              <td class="results__column--kpi" data-order="{{this.kpi}}">{{this.kpi}}</td>
              <td class="results__column--status" data-order="{{this.status}}"><span class="status-{{this.status}}">{{this.status}}</span></td>
              <td class="results__column--project" data-order="{{this.project}}">{{this.project}}</td>
              <td class="results__column--env" data-order="{{this.environment}}">{{this.environment}}</td>
              <td class="results__column--actions" data-order="false">
                <a class="button" href="/api/result/{{this.id}}">json</a>
                <a class="button" href="/results/see/{{this.id}}">see results</a>
                <a class="button" href="/results/delete/{{this.id}}">delete</a>
                <a class="button" href="/testcases/view/{{this.testcase_id}}">see testcase</a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
