<header>
  <small>{{title}}</small>
  <h1 class="run-testcase" data-url="/results/run/{{testcase.id}}">{{testcase.title}}</h1>
  <p class="testcase-status status-{{result.status}}">{{#ifequal result.status "FAIL"}}testcase failed:{{/ifequal}}{{#ifequal result.status "PASS"}}testcase passed:{{/ifequal}} {{result.readableOutcome}}</p>
</header>

<div class="content">
  <form method="POST" class="has-action-bar" disabled>

    <fieldset>
      <legend>Testcase setup</legend>

      <div class="form-column-wrapper">
        <div class="form-column">
          <div class="form-field">
            <label for="title">Testcase title *</label>
            <input disabled type="text" name="title" id="title" value="{{testcase.title}}" placeholder="Testcase title" required />
          </div>

          <div class="form-field">
            <label for="environment">Environment *</label>
            <div class="form-select">
              <select name="environment" id="environment" disabled>
                <option value="int" {{#ifequal testcase.environment "int"}}selected{{/ifequal}}>INT</option>
                <option value="qa" {{#ifequal testcase.environment "qa"}}selected{{/ifequal}}>QA</option>
                <option value="uat" {{#ifequal testcase.environment "uat"}}selected{{/ifequal}}>UAT</option>
                <option value="prd" {{#ifequal testcase.environment "prd"}}selected{{/ifequal}}>PRD</option>
              </select>
            </div>
          </div>

          <div class="form-field">
            <label for="project">Project *</label>
            <input type="text" disabled list="projects" name="project" id="project" value="{{testcase.project}}" placeholder="Project name (e.g. Kerastase)" required />
            <datalist id="projects">
              {{#each projects}}
                <option value="{{this}}"></option>
              {{/each}}
            </datalist>
          </div>
        </div>

        <div class="form-column">
          {{!-- <div class="form-field">
            <label for="frequency" style="text-decoration:line-through;">Running frequency interval (always at noon)</label>
            <div class="form-select">
              <select name="frequency" id="frequency" disabled>
                <option value="">disabled for now</option>
                <option value="day" {{#ifequal testcase.frequency "day"}}selected{{/ifequal}}>Day</option>
                <option value="week" {{#ifequal testcase.frequency "week"}}selected{{/ifequal}}>Week</option>
                <option value="month" {{#ifequal testcase.frequency "month"}}selected{{/ifequal}}>Month</option>
              </select>
            </div>
          </div> --}}

          <div class="form-field">
            <label for="kpi">KPI</label>
            <div class="form-select">
              <select name="kpi" id="kpi" disabled>
                <option value="wp1" {{#ifequal testcase.kpi "wp1"}}selected{{/ifequal}}>wp1</option>
                <option value="wp4" {{#ifequal testcase.kpi "wp4"}}selected{{/ifequal}}>wp4</option>
                <option value="wp6" {{#ifequal testcase.kpi "wp6"}}selected{{/ifequal}}>wp6</option>
                <option value="wp7" {{#ifequal testcase.kpi "wp7"}}selected{{/ifequal}}>wp7</option>
                {{!-- <option value="wp8" {{#ifequal testcase.kpi "wp8"}}selected{{/ifequal}}>wp8</option> --}}
                <option value="sitecore_cache" {{#ifequal testcase.kpi "sitecore_cache"}}selected{{/ifequal}}>Sitecore Component Caching</option>
              </select>
            </div>
          </div>

          {{#ifequal testcase.kpi "sitecore_cache"}}
            <div class="form-field">
              <label for="sitecore_stats_url">Sitecore stats URL *</label>
              <input type="url" disabled name="sitecore_stats_url" id="sitecore_stats_url" value="{{testcase.sitecore_stats_url}}" placeholder="https://uat-cm-mst-garnier-eu-ce.e-loreal.com/sitecore/admin/stats.aspx" />
            </div>

            <div class="form-field">
              <label for="sitecore_username">Sitecore username *</label>
              <input type="text" disabled name="sitecore_username" id="sitecore_username" value="{{testcase.sitecore_username}}" placeholder="admin" />
            </div>

            <div class="form-field">
              <label for="sitecore_password">Sitecore password *</label>
              <input type="text" disabled name="sitecore_password" id="sitecore_password" value="{{testcase.sitecore_password}}" placeholder="q" />
            </div>
          {{/ifequal}}

          {{#ifequal testcase.kpi "wp1"}}
            <div class="form-field">
              <label for="blazemeter_testid">BlazeMeter test ID *</label>
              <input type="text" disabled name="blazemeter_testid" id="blazemeter_testid" value="{{testcase.blazemeter_testid}}" placeholder="BlazeMeter test ID">
            </div>
          {{/ifequal}}

          {{#ifequal testcase.kpi "wp4"}}
            <div class="form-field">
              <label for="url">URL *</label>
              <input type="url" disabled name="url" id="url" value="{{testcase.url}}" placeholder="https://"/>
            </div>
          {{/ifequal}}

          {{#ifequal testcase.kpi "wp6"}}
            <div class="form-field">
              <label for="url">URL *</label>
              <input type="url" disabled name="url" id="url" value="{{testcase.url}}" placeholder="https://"/>
            </div>
          {{/ifequal}}

          {{#ifequal testcase.kpi "wp7"}}
            <div class="form-field">
              <label for="url">URL *</label>
              <input type="url" disabled name="url" id="url" value="{{testcase.url}}" placeholder="https://"/>
            </div>
          {{/ifequal}}

        </div>
      </div>
    </fieldset>
    <div class="form-field--actions">
      <a class="button" href="/api/result/{{result.id}}">JSON</a>
      <a class="button" href="/results/export/{{result.id}}">export</a>
      <a class="button" href="/testcases/view/{{result.testcase_id}}">see testcase</a>
      <a class="delete-item" href="/results/delete/{{result.id}}">delete</a>
    </div>
  </form>


  <pre class="result-output">
{{resultShow}}
  </pre>

</div>
