<header>
  <small>create</small>
  <h1 class="new-testcase">{{title}}</h1>
</header>
<div class="content">

  <form method="POST" action="/testcases/new" class="has-action-bar">
    <fieldset>
      <legend>Testcase setup</legend>

      <div class="form-column-wrapper">
        <div class="form-column">
          <div class="form-field">
            <label for="title">Testcase title *</label>
            <input autofocus type="text" name="title" id="title" placeholder="Testcase title" required />
          </div>

          <div class="form-field">
            <label for="environment">Environment *</label>
            <div class="form-select">
              <select name="environment" id="environment">
                <option value="int">INT</option>
                <option value="qa">QA</option>
                <option value="uat">UAT</option>
                <option value="prd">PRD</option>
              </select>
            </div>
          </div>

          <div class="form-field">
            <label for="project">Project *</label>
            <input list="projects" list="projects" type="text" name="project" id="project" placeholder="Project name (e.g. Kerastase)" required/>
            <datalist id="projects">
              {{#each projects}}
                <option value="{{this}}"></option>
              {{/each}}
            </datalist>
          </div>
        </div>

        <div class="form-column">
          <div class="form-field">
            <label for="kpi">KPI *</label>
            <div class="form-select">
              <select name="kpi" id="kpi">
                <option value="wp1" selected>wp1</option>
                <option value="wp4">wp4</option>
                <option value="wp6">wp6</option>
                <option value="wp7">wp7</option>
                <option value="sitecore_cache">Sitecore Component Caching</option>
                {{!-- <option value="wp8">wp8</option> --}}
              </select>
            </div>
          </div>

          <div class="form-fields-for-testcase" data-testcase="sitecore_cache">
            <div class="form-field">
              <label for="sitecore_stats_url">Sitecore stats URL *</label>
              <input type="url" name="sitecore_stats_url" id="sitecore_stats_url" placeholder="https://uat-cm-mst-garnier-eu-ce.e-loreal.com/sitecore/admin/stats.aspx" />
            </div>

            <div class="form-field">
              <label for="sitecore_username">Sitecore username *</label>
              <input type="text" name="sitecore_username" id="sitecore_username"  placeholder="admin" />
            </div>

            <div class="form-field">
              <label for="sitecore_password">Sitecore password *</label>
              <input type="text" name="sitecore_password" id="sitecore_password" placeholder="q" />
            </div>
          </div>

          <div class="form-fields-for-testcase" data-testcase="wp1">
            <div class="form-field">
              <label for="blazemeter_testid">BlazeMeter test ID</label>
              <input type="text" name="blazemeter_testid" id="blazemeter_testid" placeholder="BlazeMeter test ID">
            </div>
          </div>

          <div class="form-fields-for-testcase" data-testcase="others">
            <div class="form-field">
              <label for="url">URL *</label>
              <input type="url" name="url" id="url" placeholder="https://"/>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="form-field--actions">
      <button type="submit">Save</button>
    </div>
  </form>
</div>
