<header>
  <small>overview</small>
  <h1>{{title}}</h1>
</header>

<div class="content">
  <p style="float: right;margin:0;">
    <a href="/testcases/new" class="button">New test case</a>
  </p>

  <table class="testcase__list" cellspacing="0" data-page-length="80">
    <thead>
      <tr>
        <th>title</th>
        <th>kpi</th>
        <th>env</th>
        <th>project</th>
        <th>actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each testcases}}
        <tr id="{{this.id}}">
          <td class="testcase__column--title">
            <span class="truncate" title="{{this.title}}">
              {{this.title}}
            </span>
          </td>
          <td class="testcase__column--kpi">{{this.kpi}}</td>
          <td class="testcase__column--environment">{{this.environment}}</td>
          <td class="testcase__column--project">{{this.project}}</td>
          <td class="testcase__column--actions">
            <a class="button" id="run" href="/results/run/{{this.id}}">run</a>
            <a class="button" href="/testcases/view/{{this.id}}">see / edit</a>
            <a class="button" href="/testcases/delete/{{this.id}}">delete</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<div class="loading-modal">
  <h1>Loading</h1>
</div>
