* {
  box-sizing: border-box;
}

html {
  background: $dark-alt2;
}

body {
  background-image: url(../images/noise.png), linear-gradient(#777777, #666666 85%);
  margin: 0;
  font-family: $main-font-family;
  color: $light;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  height: 100%;
}

datalist {
  display: none;
}

.layout {
  display: grid;
  grid-template-columns: 115px 1fr;
  grid-column-gap: 0;
  height: 100vh;
  overflow: auto;
}

nav {
  width: 100%;
  box-sizing: border-box;
  border-right: 1px solid rgba($light, 0.5);
}

main {
  box-sizing: border-box;

  header {
    padding: 0 2rem;
    margin: 2rem 0 0 0;

    h1, small, p {
      margin: 0;
    }

    h1 {
      margin: 0 0 .5rem 0;
    }
  }

  @keyframes fade {
    to {
      opacity: 1;
    }
  }

  @keyframes fadeUp {
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0)
    }
  }

  .content {
    padding: 1rem 2rem;
    max-width: calc(100vw - 115px);
    opacity: 0;
    animation: fade 300ms 150ms forwards ease;
    will-change: transform, opacity;

    article {
      max-width: 800px;
      @include box;
      padding: 0 1rem;
    }
  }
}

.loading-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  @include box;
  box-shadow: 0px 0px 0px 10000px rgba(0, 0, 0, 0.5);
  font-size: 70%;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(238, 238, 238, 0.7);

  h1 {
    color: $dark;
    margin: 0;

    &:after {
      content: "";
      width: 15px;
      height: 15px;
      background: url(/public/images/ajax-loader.gif) no-repeat;
      display: block;
      margin: 1rem auto 0;
    }
  }
}
