a.button,
button,
.paginate_button {
  background: rgba($dark, 0.3);
  border: 1px solid rgba($light, 0.4);
  color: $light;
  border-radius: 5px;
  outline: none;
  padding: .9em 1em;
  font-size: 11px;
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: 300ms all ease;

  &:hover,
  &.current,
  &:focus {
    background: rgba($blue, 0.8);
    color: $light;
  }

  &:focus {
    outline: 1px dashed rgba($light, 0.3);
  }

  &.disabled,
  [disabled] {
    cursor: default;
    background: rgba(0, 0, 0, 0.4);
    color: rgba($light, 0.5)
  }
}

.paginate_button {
  margin: 0 3px 0 0;
}

.delete-item {
  color: $light;
  font-size: 90%;
  padding: 0 0 0 0.2rem;

  &:hover {
    color: $blue;
  }
}

.button-like-link {
  background: none;
  color: $light;
  padding: 0;
  border: none;
  margin: 0 0 0 5px;
  text-transform: lowercase;
  font-size: 90%;
  text-decoration: underline;
  transition: none;

  &:hover {
    background: none;
    color: $blue;
    text-shadow: none;
  }
}
