@mixin dashboard($theme: $theme-dark) {
  $col-pri: map-get($theme, 'col-pri');
  $col-sec: map-get($theme, 'col-sec');
  width: 100%;
  overflow: hidden;
  background: $col-pri;

  &__title {
    text-transform: lowercase;
    font-variant: small-caps;
    font-family: $main-font-family;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    padding: 15px 10px;
  }

  .widget {
    flex: 1;
    &__data {
      color: $col-sec;
    }
  }


  @keyframes loader {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
  }

  .loader {
    position: relative;
    height: 8px;
    display: block;
    width: 100%;
    animation-name: loader;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: .25s;
    background-color: $valtech-blue;
  }
}

#gofullscreen,
#exitfullscreen {
  display: none;
}
