form {
  margin: -1rem 0 0 0;
}

.form-column-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 0 1rem 0;

  .form-column {
    flex: 1;
    margin: 0 1rem 0 0;

    &:last-child {
      margin: 0;
    }
  }
}

.has-action-bar fieldset {
  margin-top: 2rem;

  &.form-column {
    margin: 2rem 1rem 0 0;

    &:last-child {
      margin: 2rem 0 0 0;
    }
  }
}

fieldset {
  margin: 0 0 1rem;
  padding: 0.5rem 1rem;
  @include box;

  legend {
    font-size: 2em;
  }
}

.form-item-help {
  font-size: 11px;
  margin: 1rem 0;
  padding: 0 0 0 1rem;
  color: rgba($light, 0.9);
}

p.form-item-help {
  padding: 0;
  margin: 1rem 0 0;
  clear: both;
}

.form-field--actions {
  @include box;
  padding: 0.5rem 1rem;
  margin: 0 0 1rem 0;
}

.testcase-graph {
  @include box;
  padding: 1rem;
}

.form-field {
  display: block;
  margin: 0 0 1rem 0;

  label {
    display: block;
    font-size: 11px;
    margin: 0 0 .3rem;
    text-transform: uppercase;
  }
}

::placeholder {
  color: rgba($light, 0.7);
}
::-webkit-input-placeholder {
  color: rgba($light, 0.7);
}

input,
textarea {
  color: $light;
  background: rgba($dark, 0.3);
  border: 1px solid rgba($light, 0.4);
  padding: 0.5rem;
  line-height: 1;
  margin: 0;
  border-radius: 3px;
  font-family: $main-font-family;
  letter-spacing: $letter-spacing;
  max-width: $input-width;
  width: 100%;
  transition: 200ms all ease;

  &::-webkit-calendar-picker-indicator {
    opacity: 100;
    cursor: pointer;

    &:hover {
      background: none;
    }
  }

  &[disabled] {
    opacity: 0.5;
    cursor: default;
  }

  &:focus {
    outline: none;
    border-bottom: 1px solid rgba($light, 0.6);
    border-right: 1px solid rgba($light, 0.6);
    background: rgba(0, 0, 0, 0.25);
  }
}

textarea {
  line-height: 1.2;
}

.form-select {
  margin: 0;
  max-width: $input-width;
  width: 100%;
  overflow: hidden;
  position: relative;
  color: $light;
  background: rgba($dark, 0.3);
  border: 1px solid rgba($light, 0.4);
  padding: 0.25rem;
  line-height: 1;
  color: $light;
  border-radius: 3px;

  &:after {
    top: calc(50% - 2px);
    left: calc(100% - 20px);
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-top-color: $light;
    border-width: 7px 4px 0px 4px;
    z-index: 1;
  }

  select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    appearance: none;
    color: $light;
    letter-spacing: $letter-spacing;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &[disabled] {
      opacity: 0.5;
      cursor: default;
    }
  }
}

.form-fields-for-testcase {
  position: absolute;
  top: -9999px;

  &.form-fields-shown {
    position: static;
  }
}

// .dataTables_filter {
//   position: absolute;
//   transform: translateY(-150%);
//   width: 400px;
// }
