$grid-layout: (
  ( 'name': '1x1', 'col': 1, 'row': 1 ),
  ( 'name': '2x1', 'col': 2, 'row': 1 ),
  ( 'name': '3x1', 'col': 3, 'row': 1 ),
  ( 'name': '4x1', 'col': 4, 'row': 1 ),
  ( 'name': '5x1', 'col': 5, 'row': 1 ),
  ( 'name': '6x1', 'col': 6, 'row': 1 ),
  ( 'name': '1x2', 'col': 1, 'row': 2 ),
  ( 'name': '2x2', 'col': 2, 'row': 2 ),
  ( 'name': '3x2', 'col': 3, 'row': 2 ),
  ( 'name': '4x2', 'col': 4, 'row': 2 ),
  ( 'name': '5x2', 'col': 5, 'row': 2 ),
  ( 'name': '6x2', 'col': 6, 'row': 2 )
);

@function makeFr($val) {
  $nb-fr: 1fr;
  @if ($val == 1) {
    @return $nb-fr;
  }
  @else {
    $end: $val - 1;
    @for $i from 1 through $end {
      $nb-fr: #{$nb-fr} '1fr';
    }
    @return #{$nb-fr};
  }
}

@mixin makeGrid($layout: $grid-layout) {
  @each $item in $layout {
    $name: map-get($item, 'name');
    $col: map-get($item, 'col');
    $row: map-get($item, 'row');

    &--#{$name} {
     grid-template-columns: makeFr($col);
     grid-template-rows: makeFr($row);
    }
  }
}

@mixin status($color, $pulse) {
  position: relative;
  z-index: 1;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: $color;
    @if $pulse {
      animation: opAnim 2s infinite both linear;
    }
  }
}
