nav {
  background-color: rgba(0, 0, 0, .25);

  .logo {
    width: 115px;
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    // margin: 0 0 1rem 0;

    svg {
      display: block;
      width: 60%;
      height: auto;
      margin: 0 auto;

      path {
        fill: $light;
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 115px;

    a {
      text-decoration: none;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 12px;
      padding: 0 0 1rem 0;
      border-bottom: 1px solid rgba($light, 0.1);
      border-top: 1px solid rgba($dark, 0.2);
      line-height: 1;
      text-align: center;
      width: 100%;
      display: block;

      &.active,
      &:hover,
      &:focus {
        background: rgba(0,0,0,.2);
        color: $light;
        outline: none;
        border-bottom: 1px solid rgba($light, 0.3);
        border-top: 1px solid rgba($dark, 0.2);
      }

      svg {
        display: block;
        width: 50%;
        height: auto;
        margin: 0 auto;

        path {
          fill: $light;
        }
      }

      &.navigation-home {
        svg {
          width: 50px;
          margin: 6px auto 0;
        }
      }

      &.navigation-testacses {
        svg {
          width: 50px;
          margin: 6px auto 8px;
        }
      }

      &.navigation-results {
        svg {
          width: 50px;
          margin: 6px auto 4px;
        }
      }

      &.navigation-dashboards {
        svg {
          width: 46px;
          margin: 6px auto 0px;
        }
      }

      &.navigation-widgets {
        svg {
          width: 50px;
          margin: 6px auto 6px;

          path {
            fill: transparent;
            stroke: $light;
          }
        }
      }

      &.navigation-api {
        svg {
          width: 50px;
          margin: 6px auto 6px;

          circle {
            fill: $light;
          }

          path {
            fill: $light;
          }
        }
      }

      span {
        display: block;
      }
    }
  }
}
