.table-filter-wrapper {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-column-gap: 2rem;

  h4 {
    font-size: .9rem;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    font-family: $main-font-family;
    margin: 0 0 .5rem 0;
  }

  ul {
    list-style: none;
    margin: 0 0 2rem 0;
    @include box;
    padding: 0;

    li:first-child a {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    li:last-child a {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    a {
      display: block;
      margin: 0;
      padding: .3rem .5rem;
      transition: all 200ms ease;
      line-height: 1.5;
      text-decoration: none;
      border-bottom: 1px solid rgba($dark, 0.2);
      font-size: 85%;

      &:hover,
      &.active {
        background: rgba($dark, 0.4);
        color: $light;
      }
    }
  }
}

table {
  width: 100%;
  margin: 1rem 0;
  font-size: 12px;

  th {
    text-align: left;
    font-weight: 500;
    text-transform: uppercase;
    background: rgba(0,0,0, 0.2);
    padding: 0.5rem 0 0.5rem 1.4rem;
    border-bottom: 1px solid rgba($light, 0.5);
    cursor: pointer;
  }

  tr {
    background: rgba(0,0,0, 0.1);

    &:nth-child(even) {
      background: rgba(0,0,0, 0.05);
    }
  }

  td {
    font-weight: 300;
    padding: 0.5rem 0 0.5rem 0.5rem;
    border-bottom: 1px solid rgba($light, 0.4);
  }

  .truncate {
    max-width: 290px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: bottom;
  }

  .sorting,
  .sorting_asc,
  .sorting_desc {
    position: relative;

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 8px;
      top: 11px;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #eee;
      border-top: none;
      font-size: 0;
      line-height: 0;
    }

    &:after {
      top: 18px;
      border-top: 5px solid #eee;
      border-bottom: none;
    }
  }

  .sorting_asc {
    &:before, &:after { border-bottom-color: #eee; }
    &:after { border-top-color: #aaa; }
  }

  .sorting_desc {
    &:before, &:after { border-bottom-color: #aaa; }
    &:after { border-top-color: #eee; }
  }
}
