.tabs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 0 1rem 0;
  border: solid rgb(11, 113, 145);
  border-width: 0 1px 1px 1px;
  overflow: hidden;

  background: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba($light, 0.4);
  border-right: 1px solid rgba($light, 0.4);
  border-top: none;
  border-left: 1px solid rgba($dark, 0.6);

  [type=radio] {
    position: absolute;
    left: -999px;

    &:checked + label {
      background: none;
      border-bottom: none;
      z-index: 2;

      + .tab {
        display: block;
      }
    }
  }

  .tab {
    order: 2;
    padding: 1em 1em 0;
    display: none;
    flex: 0 0 100%;
    box-sizing: border-box;
    top: -1px;
    position: relative;
    z-index: 1;
  }

  label {
    padding: .8rem 1.5rem;
    border: solid rgba($dark, 0.6);
    border-width: 1px 1px 1px 0;
    cursor: pointer;
    font-weight: 500;
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.1);
  }

  .form-field label {
    display: block;
    font-size: 80%;
    margin: 0 0 0.5em 0;
    padding: 0;
    background: none;
    border: none;
    font-weight: 500;
  }

  &:after {
    content: "";
    flex: auto;
    order: 1;
    position: relative;
    left: 0;
    border-top: 1px solid rgba($dark, 0.6);
    border-bottom: 1px solid rgba($dark, 0.6);
  }
}

.dashboard-add-page {
  border-color: transparent;
  border-bottom: 1px solid rgba($dark, 0.6);
  border-radius: 0;
}

.tab-widget-wrapper {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 0.5rem;
  box-sizing: border-box;

  &.dashboard-widget-holder-layout--1x1 { grid-template-columns: 1fr; grid-template-rows: 1fr; }
  &.dashboard-widget-holder-layout--2x1 { grid-template-columns: 1fr 1fr; grid-template-rows: 1fr; }
  &.dashboard-widget-holder-layout--3x1 { grid-template-columns: 1fr 1fr 1fr; grid-template-rows: 1fr; }
  &.dashboard-widget-holder-layout--4x1 { grid-template-columns: 1fr 1fr 1fr 1fr; grid-template-rows: 1fr; }
  &.dashboard-widget-holder-layout--5x1 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr; grid-template-rows: 1fr; }
  &.dashboard-widget-holder-layout--6x1 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; grid-template-rows: 1fr; }
  &.dashboard-widget-holder-layout--1x2 { grid-template-columns: 1fr; grid-template-rows: 1fr 1fr; }
  &.dashboard-widget-holder-layout--2x2 { grid-template-columns: 1fr 1fr; grid-template-rows: 1fr 1fr; }
  &.dashboard-widget-holder-layout--3x2 { grid-template-columns: 1fr 1fr 1fr; grid-template-rows: 1fr 1fr; }
  &.dashboard-widget-holder-layout--4x2 { grid-template-columns: 1fr 1fr 1fr 1fr; grid-template-rows: 1fr 1fr; }
  &.dashboard-widget-holder-layout--5x2 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr; grid-template-rows: 1fr 1fr; }
  &.dashboard-widget-holder-layout--6x2 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; grid-template-rows: 1fr 1fr; }
}
