a {
  color: $light;

  &:hover {
    color: $blue
  }
}

th, td, label {
  text-shadow: $text-shadow
}

a, button, input, textarea, th {
  &:focus {
    outline: 1px dashed rgba($light, 0.3)
  }
}

h1, h2, h3, h4, legend {
  color: $light;
  font-weight: 300;
  line-height: 1;
  margin: 0 0 2rem 0;
  font-family: $alt-font-family;
  font-size: 3em;
  margin: 0 0 1rem 0;
  letter-spacing: 0.03em;
  // text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

small {
  text-transform: uppercase;
  font-weight: 500;
  color: darken($light, 20);
  margin: 0;
  display: block;
}

.status-FAIL,
.status-PASS,
.status-WARNING {
  background: rgba(red, 0.6);
  padding: 0.1rem 0.5rem;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.4);
}

.status-PASS {
  background: rgba(green, 0.6);
}

.status-WARNING {
  background: rgba(orange, 0.6);
}

.result-output {
  font-family: Monaco, Courier, monospace;
  overflow: auto;
  width: 100%;
  line-height: 1.5;
  font-size: 12px;
  color: rgba($light, 0.8);
  margin: 0 0 1rem;
  padding: 0.5rem 1rem;
  @include box;
}
