$font-size: 14px;
$line-height: 1.5;
$letter-spacing: 0.02em;

$main-font-family: 'Open Sans', sans-serif;
$alt-font-family: 'Helvetica Neue', Helvetica;

$text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);

$input-width: 400px;

$timing: .5s;

$dark: #111;
$dark-alt1: #424242;
$dark-alt2: #232323;
$dark-button: rgba(26, 26, 26, .8);
$blue: #093746;
$light: #eee;
$valtech-blue: #00bdfa;
$status-fail: transparentize(#ff0000, .5);
$status-pass: transparentize(#0c6411, .5);

@mixin box {
  background: rgba($light, 0.1);
  border: 1px solid rgba($light, 0.4);
  border-radius: 5px;
  box-shadow: 0px 0px 12px -5px rgba(0,0,0, 0.5);
}

@keyframes scaleto {
  0% {transform: scale(0);}
  100% {transform: scale(1);}
}

@keyframes opAnim {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

