@mixin widget($theme: $theme-dark) {
  $root: &;
  $col-pri: map-get($theme, 'col-pri');
  $col-sec: map-get($theme, 'col-sec');
  $col-status: map-get($theme, 'col-status-fail');
  $col-widget-header-bg: map-get($theme, 'col-widget-header-bg');
  $col-widget-header-text: map-get($theme, 'col-widget-header-text');

  &__inner {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    transition: transform $timing;

  }
  &__list {
    @include makeGrid($grid-layout);
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: 1fr auto;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    margin: 0;
    padding: 15px 10px;
    flex: 0 0 100%;
    box-sizing: border-box;
    list-style: none;
  }

  &__text {
    padding: 2em;
    text-align: center;
    background-color: transparentize($col-widget-header-bg, .8);

    h2 {
      font-size: 3.5vmin;
      margin-bottom: 0;
      font-weight: 400;
      color: $col-widget-header-text;
      text-transform: uppercase;
    }
    p {
      margin: 10px 0 0;
      font-size: 2vmin;
      font-weight: 100;
      line-height: 1;
      text-transform: lowercase;
      font-variant: small-caps;
      color: $col-widget-header-text;
    }
  }

  &__data {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 0;
    padding: 1rem;
    color: $col-sec;

    &-content {
      font-size: 10vmax;
      max-width: 80vmax;
      max-height: 100%;
      transform-origin: 50% 50%;
      animation: scaleto $timing 1s both ease-in;
      [class*="x2"] & {
        font-size: 5vmax;
      }
    }
  }
  &__item {
    position: relative;
    border: 1px solid rgba($col-sec, 0.5);
    border-radius: 5px;

    &--number {
      #{$root}__data-content {
        font-weight: bold;
        line-height: 1;
      }
    }

    &.widget-loading {
      .loading {
        opacity: 1;
      }
      .widget__data {
        opacity: 0;
      }
    }
  }
  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: opacity 300ms ease;

    &.widget--fail {
      @include status($col-status, false);
    }

    &.widget--pass {
      @include status($status-pass, false);
    }

    &.widget--warning {
      @include status(rgba(orange, 0.3), false)
    }
  }

  &-outcome {
    font-weight: 700;
    text-align: center;
    line-height: 1;
    margin: 0 0 1rem;
    padding: 0;
  }

  &-additional {
    max-width: 70%;
    margin: 0 auto;
    padding: 0;
    font-size: 1vw;
    font-weight: 400;
    text-align: center;
    line-height: 1.3;
  }

  .loading {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding-right: .8em;
    line-height: 1;
    opacity: 0;
    &::after {
      content: '';
      position: absolute;
      bottom: .1em;
      right: 0;
      width: .6em;
      height: 0.2em;
      background-color: #fff;
      display: block;
      animation: opac 1s infinite both;
    }
  }
}

@keyframes opac {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}
